@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@import 'tailwindcss/preflight';
@import 'tailwind.css';

html {
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  color: rgb(51, 65, 85);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
